body {
    background-color: #555 ;
}

.control {
    display: block;
    margin-left: 100px;
    /* margin-right: auto; */
}

#wrapper {
    /*position: absolute;*/
    width : 75%;    
    display: block;
    margin-left: auto;
    margin-right: auto
}

#nav #player {
    display: inline-block;
}

#start {
    position: relative;
}

#end {
    position: relative;
    top: 0;
    left: 0;
}

#player {
    width: 100%;
}

#controls {
    width: 100%;
}